//.
$primary-blue: #0099cc;
$primary-olive: #bfc899;
$primary-black: #222;

// ..
$status-red: #E54400;
$status-green: #00D042;

// ..
$white: #fff;
$white-primary: #f0f0f0;
$white-dimmed: #f1f1f1;

// ...
$content-light: #9499A5;
$content-medium: #77818D;
$content-dark: #56697A;

// ...
$color-brachi: #322266;
$color-brachi-yellow: #ECAB54;

$color-nus: #C6168D;
$color-cornu: #F37321;

$color-beccus: #754C29;
$color-beccus-blue: #2DA1CE;