//.


$primary-blue: #0099cc;
$primary-olive: #bfc899;
$primary-black: #222;




$white: #fff;
$white-primary: #f0f0f0;
$white-dimmed: #f1f1f1;

// ...

$content-light: #9499A5;
$content-medium: #77818D;
$content-dark: #56697A;
