@use '../abstracts/' as *;

.navbar {
  box-shadow: var(--navbar-shadow);
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;

  &__logo {
    color: var(--navbar-top-text);
    text-decoration: none;
    font-size: 2rem;
    padding: spacing(2);
  }

  &__top {
    flex: 6;
    background-color: var(--navbar-top-bg);
    color: var(--navbar-top-text);
  }

  &__bottom {
    flex: 5;
    background-color: var(--navbar-bottom-bg);
    color: var(--navbar-bottom-text);
    font-size: 1.2rem;

    @include media--medium {
      font-size: 1.6rem;
    }

    a {
      color: var(--navbar-bottom-text);

      &:hover, &:focus, &:active {
        color: $primary-olive;
      }
    }
  }


}
