@use '../abstracts/' as *;


.poll-start {
    background-color: $white;
    box-shadow: var(--poll-statement-shadow);
    margin-top: spacing(4);
    padding: spacing(4);

    p {
        font-size: 1.8rem;
    }

    h1 {
        background-color: var(--poll-top-tile-bg);
        color: var(--poll-top-tile-text);
        margin-left: spacing(-4);
        margin-top: spacing(-8);
        padding: spacing(2) spacing(10) spacing(2) spacing(6);
        width: fit-content;
    }

    button {
        margin-top: spacing(2);
    }

}



.poll-top {
    display: flex;
    flex-direction: row;
    gap: spacing(1);
    margin-bottom: spacing(2);

    &__tile {
        background-color: var(--poll-top-tile-bg);
        color: var(--poll-top-tile-text);

        display: inline-block;
        min-width: 36px;
        text-align: center;
        padding: spacing(2);
    }

    &__progress {
        background-color: var(--poll-top-progress-bg);
    }

    &__category {
        padding: spacing(2) spacing(4);

        @include media--medium {
            padding-right: spacing(12);
        }
    }

}

.poll-options {
    display: grid;
    grid-template-areas: "option-sda option-sa"
                         "option-da option-a";

    grid-template-columns: 1fr 1fr;
    grid-gap: spacing(4);
    margin-bottom: spacing(4);
}

.option {
    &-sda { grid-area: option-sda; }
    &-sa { grid-area: option-sa; }
    &-a { grid-area: option-a; }
    &-da { grid-area: option-da; }

}

.poll-buttons {
    display: flex;
    flex-direction: row;
    gap: spacing(4);
    justify-content: space-between;
}
