@use '../abstracts/' as *;


.poll-top {
    display: flex;
    flex-direction: row;
    gap: spacing(1);
    margin-bottom: spacing(2);

    &__tile {
        background-color: var(--poll-top-tile-bg);
        color: var(--poll-top-tile-text);

        display: inline-block;
        min-width: 36px;
        text-align: center;
        padding: spacing(2);
    }

    &__progress {
        background-color: var(--poll-top-progress-bg);
    }

    &__category {
        padding: spacing(2) spacing(4);

        @include media--medium {
            padding-right: spacing(12);
        }
    }

}

.poll-options {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: spacing(4);
    margin-bottom: spacing(4);

    @include media--medium {
        display: flex;
        flex-direction: column;
        gap: spacing(4);
        margin-bottom: 0;
    }

}