@use '../abstracts/' as *;

.container {
  margin-left: auto;
  margin-right: auto;
  padding: spacing(4);
  width: 100%;

  @include media--medium {
    max-width: ($media-medium-width - spacing(8));
  }
  @include media--large {
    max-width: ($media-large-width - spacing(8));
  }

  &--full {
    max-width: 100%;
  }

  &--smaller {
    @include media--large {
      max-width: ($media-medium-width - spacing(8));
    }
  }
}

.row {
  margin-left: spacing(-4);
  margin-right: spacing(-4);
  padding-left: spacing(4);
  padding-right: spacing(4);
  width: auto;
}
